@media (min-width: 768px) and (max-width: 1200px) {
  .container {
    width: 96%;
  }
  .right-sidebar {
    display: none;
  }
  .left-sidebar {
    flex-basis: 25%;
  }
  .middle-content {
    flex-basis: 75%;
  }
}

/* tab devices */
@media (max-width: 767px) {
  .container {
    width: 96%;
  }
  .main-content {
    display: grid;
  }
  .app-navigation {
    display: flex;
    justify-content: space-around;
  }
  .app-navigation .link {
    width: max-content;
  }
  .app-navigation .link i {
    font-size: 25px;
  }
  .app-navigation .link span {
    display: none;
  }

  .right-sidebar {
    display: none;
  }
}

/* mobile */
@media (max-width: 580px) {
  .search-bar {
    display: none;
  }

  .app-navigation .link i {
    font-size: 18px;
    padding: 10px 12px;
  }
  .story-board .story:nth-child(6) {
    display: none;
  }
}
