:root {
  --color-dark: #130f40;
  --color-light: #ecf0f1;
  --color-white: #fff;
  --color-black: #000;
  --primary-color: #8e44ad;
  --secondary-colorr: #2980b9;
  --third-color: #27ae60;
  --fourth-color: #16a085;

  --text-muted: #bdc3c7;

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;
  --card-radius: 1rem;
}

.img-rounded-xtrasmall {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.img-rounded-small {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.img-rounded-medium {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

body {
  color: var(--color-dark);
  background: var(--color-light);
  overflow-x: hidden;
}

/* Container */
.container {
  width: 85%;
  margin: 0 auto;
}

.profile-photo {
  width: 2.7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

img {
  width: 100%;
  display: block;
}

/* Nav  CSS */
nav {
  background: var(--color-white);
  padding: var(--search-padding);
  box-shadow: 0 0 8px 1px var(--color-dark);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10s;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar,
.search-bar input {
  background-color: var(--color-light);
  padding: var(--search-padding);
  border-radius: var(--border-radius);
}
.search-bar input {
  width: 30vw;
}
.create {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.btn {
  background: var(--primary-color);
  padding: 8px 32px 10px 30px;
  color: var(--color-white);
  border-radius: var(--border-radius);
}

/* main */
main {
  position: relative;
  top: 6rem;
}

.main-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* leftsidebar */
.left-sidebar {
  flex-basis: 20%;
}

.left-sidebar .profile {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-radius);
}
.left-sidebar .profile .profile-info {
  line-height: 1.2em;
}

.left-sidebar .profile .profile-info p {
  color: var(--text-muted);
}
.app-navigation {
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  margin-top: 20px;
}
.app-navigation .link {
  padding: 8px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 4px solid transparent;
}

.app-navigation .link:hover {
  transition: 0.3s ease-in;
  background-color: var(--color-light);
  border-left: 4px solid var(--primary-color);
}
.app-navigation .link i {
  font-size: 26px;
  padding: 10px 25px;
}
.middle-content {
  flex-basis: 55%;
}

.story-board {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.story {
  height: 200px;
  width: 100%;
  border-radius: var(--card-radius);
  padding: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.story::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.7));
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.story .profile-name p {
  font-size: 0.8em;
  line-height: 1em;
  color: #fff;
}

.story .profile-photo img {
  border-radius: 50%;
  border: 2px solid var(--primary-color);
}

.story:nth-child(1) {
  background: url("/assets/images/story-1.jpg");
}
.story:nth-child(2) {
  background: url("/assets/images/story-2.jpg");
}

.story:nth-child(3) {
  background: url("/assets/images/story-3.jpg");
}
.story:nth-child(4) {
  background: url("/assets/images/story-4.jpg");
}

.story:nth-child(5) {
  background: url("/assets/images/story-5.jpg");
}

.story:nth-child(6) {
  background: url("/assets/images/story-6.jpg");
}

/* create post  */
.create-post {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-radius);
}
.create-post input[type="text"] {
  flex-basis: 80%;
  padding: 10px;
  background: none;
}

.feed-posts {
  margin-top: 20px;
}

.feed-posts .post {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
}

.feed-posts .post .post-heading {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.post .post-image img {
  border-radius: var(--card-border-radius);
}

.post .post-action {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.post-action .react {
  display: flex;
  gap: 20px;
  font-size: 22px;
}
.post-action .react i {
  cursor: pointer;
}
.post .likedby {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.post-action .book-mark {
  cursor: pointer;
}

.likedby .likedbyimages {
  display: flex;
}

.likedby .likedbyimages img {
  border: 1px solid var(--color-light);
}

.likedby .likedbyimages img:nth-child(2),
.likedby .likedbyimages img:nth-child(3) {
  margin-left: -8px;
}

/* right sidebar */
.right-sidebar {
  flex-basis: 25%;
}
